body {
    margin: 0;
    padding: 0;
}

.topnav {
    background-color: #fff; /* Dark background color (black) */
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow for a modern look */
}

.topnav a {
    float: left;
    color: #333; /* White text color */
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #0074d9; /* Hover color in blue */
    color: #fff; /* Text color on hover */
    transition: background-color 0.3s ease; /* Add a smooth transition effect */
}
